torch>=2.0.0
torchvision
numpy
scipy
scikit-learn
matplotlib
seaborn
pandas
datasets
Pillow
tqdm
hdbscan
jax==0.6.2
jaxlib==0.6.2
jax-cuda12-plugin==0.6.2
jax-cuda12-pjrt==0.6.2
nvidia-cudnn-cu12==9.8.0.87
pgmax
